.row-fluid
  -if @posts
    %section.posts.span8
      -@posts.each do |post|
        %article.post
          %h1.title=link_to post.title, blog_post_path(post)
          .info <b>posted:</b> #{post.published_at.to_date} <b>by:</b> #{post.author}
          %p.body=post.teaser.html_safe
          =link_to("read more", blog_post_path(post))
  %aside.span4.nav-buttons
    %ul
      %li=button_tag "<i class='icon-download-alt icon-white'></i>".html_safe + " Sermon from #{previous_sunday}", class: 'btn btn-block btn-primary'
      %li=button_tag "Upcoming Events", class: 'btn btn-block btn-info'
      %li=button_tag "Contact", class: 'btn btn-block btn-success'
      %li=button_tag "New Member Information", class: 'btn btn-block btn-warning'
      %li=button_tag "Online Giving", class: 'btn btn-block btn-danger'

.row-fluid.blocks
  .span12
    .row
      .span4
        .block
          .medium-icon
            %i.icon-map-marker
          %h3 Directions
          %p Located just north of 440 on Six Forks Rd. You can #{link_to "click here", "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=St+Marks+United+Methodist+Raleigh+NC&aq=&sll=42.003804,-71.46497&sspn=0.880683,1.5271&vpsrc=0&ie=UTF8&hq=St+Marks+United+Methodist&hnear=Raleigh,+Wake,+North+Carolina&t=m&z=12&iwloc=A&cid=4591602867878022475"} to get directions from anywhere
      .span4
        .block
          .medium-icon
            %i.icon-volume-off
          %h3 Listen
          %p Listen to last Sundays Sermon on your computer, phone, or media-enabled device.
      .span4
        .block
          .medium-icon
            %i.icon-envelope
          %h3 Newsletter
          %p Receive our monthly newsletter to keep up with how St Marks is working in the community.
    .row
      .span4
        .block
          .medium-icon
            %i.icon-gift
          %h3 Online Giving
          %p Get tons of free presents!!
      .span4
        .block
          .medium-icon
            %i.icon-comments-alt
          %h3 Talk
          %p Blah Blah Blah Blah Blah Blah.
      .span4
        .block
          .medium-icon
            %i.icon-calendar
          %h3 Calendar
          %p View our calendar of events and get involved.
