<article class='page'>
  <div class='row-fluid'>
    <div class='span9'>
      <%= render '/refinery/content_page' %>
    </div>
    <div class='span3'>
      <ul id='sidebar_nav' class='nav nav-pills nav-stacked'>
        <% if @page.children.present? %>
          <% @page.children.each do |child| %>
            <li class='active'><%=link_to child.title, child.url_normal%></li>
          <%end%>
        <% else %>
          <% @page.parent.children.each do |page| %>
            <% if url_for(page.url_normal) == request.fullpath %>
              <li class='active'><%=link_to page.title, page.url_normal%></li>
            <% else %>
              <li><%=link_to page.title, page.url_normal%></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</article>
