@import "bootstrap"
@import "font-awesome"
@import "variables"
@import "compass"
@import "admin"
@import "html"
@import "front"


body
  background-image: url('background.png')

body > .container
  width: $site-width
  margin-top: 70px

.container > header
  z-index: -1
  height: 400px
  color: white
  background-color: $purple
  margin-bottom: 50px

#body_content
  margin: 5px 10px

h1.title a
  color: black

article.post
  padding-bottom: 15px
  border-bottom: 1px grey solid
  margin-bottom: 15px
  > .title
    margin: 0px

section #body
  padding: 10px
  margin-left: 20px

// blog
#content
  margin-left: $content-border

// #blog_posts footer
//   border-bottom: 1px grey solid
