!!!html
=render '/refinery/html_tag'
=render '/refinery/head'
=render '/refinery/javascripts'

%body
  =render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        =render '/refinery/header'
  .container
    %header#header
    %section#page
      =yield
    %footer
      =render '/refinery/footer'
