!!!html
=render '/refinery/html_tag'
=render '/refinery/head'
=render '/refinery/javascripts'

%body
  =render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        =render '/refinery/header'

  %header.subhead.jumbotron
    .container
      %h1#site-title=link_to "St Marks United Methodist Church", '/'

  #page.container
    =yield

  %footer.footer
    .container
      .quote
        %i"And let perseverance have its full effect, that you may be perfect and complete, lacking in nothing." - James 1:4
      #copy
        =render '/refinery/footer'
