!!!html
=render '/refinery/html_tag'
=render '/refinery/head'
=render '/refinery/javascripts'

%body
  =render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  .navbar.navbar.navbar-fixed-top
    .navbar-inner
      .container
        =render '/refinery/header'
        %ul.nav.pull-right
          %li
            =link_to  "<i class='icon-facebook-sign'></i>".html_safe, "https://www.facebook.com/StMarksUMCRaleigh"
        %form.navbar-search.pull-right
          %input.search-query.span2{:type=>'text', :placeholder => "Search"}
  .container
    %header
    %section#main.container
      #content
        =yield

  %footer.footer
    .container
      .quote
        %i"And let perseverance have its full effect, that you may be perfect and complete, lacking in nothing." - James 1:4
      #copy
        =render '/refinery/footer'
